<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/assets/image/flower.png"  routerLink="/dashboard/home"alt="Bootstrap" width="80" height="84">
    <img src="/assets/image/minitef.png" routerLink="/dashboard/home" alt="Bootstrap" width="80" height="74">
    <img src="/assets/image/minitef2.png" routerLink="/dashboard/home" alt="Bootstrap" width="80" height="74">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acceder
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/dashboard/home">Home <i class="material-icons icons-1" > home </i>  </a></li>
            <li><a class="dropdown-item" routerLink="/dashboard/shishi">Regalo <i class="material-icons icons-1" > redeem </i>  </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
